<%= form_for(@breeding_pair) do |f| %>
  <% if @breeding_pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@breeding_pair.errors.count, "error") %> prohibited this breeding_pair from being saved:</h2>

      <ul>
      <% @breeding_pair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sire_id %><br />
    <%= f.number_field :sire_id %>
  </div>
  <div class="field">
    <%= f.label :dam_id %><br />
    <%= f.number_field :dam_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
