<h1>Listing mouse_racks</h1>

<table>
  <tr>
    <th>Room</th>
    <th>Label</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mouse_racks.each do |mouse_rack| %>
  <tr>
    <td><%= mouse_rack.room_id %></td>
    <td><%= mouse_rack.label %></td>
    <td><%= link_to 'Show', mouse_rack %></td>
    <td><%= link_to 'Edit', edit_mouse_rack_path(mouse_rack) %></td>
    <td><%= link_to 'Destroy', mouse_rack, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mouse rack', new_mouse_rack_path %>
